body {
  margin: 20px;
  font-family: 'Lato';
  font-weight: 300;
  font-size: 1.2em;
}

#anime-demo {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: rotate(180deg);
}

svg {
   padding: 10px;
}
